VITE_CHAIN_ID=uni-7
VITE_CONTRACT_ADDRESS=juno1t7ajx85pkw8e0yl8vgnlxvnlq4yf0h6a3eahuystnf6e9jfhwvvsv4jcel
VITE_RPC_URL=https://juno-testnet-rpc.cogwheel.zone
VITE_EXPLORER_URL=https://www.mintscan.io/juno-testnet
